body {
  color: #444444;
}

.ui.modal {
  min-width: 360px;
  min-height: 300px;
  height: 20%;
  top: 135px;
  max-width: 800px;
  margin-left: 250px;
}

@media only screen and (max-width: 767px) {
  .ui.modal {
    width: 95%;
    margin: 0;
    left: 2vw;
  }
}

@media only screen and (min-width: 768px) {
  .ui.modal {
    width: 95%;
    margin: 0;
    left: 2.5vw;
  }
}

@media only screen and (min-width: 1000px) {
  .ui.modal {
    left: 13vw;
  }
}

@media only screen and (min-width: 1280px) {
  .ui.modal {
    left: 20vw;
  }
}

@media only screen and (min-width: 1368px) {
  .ui.modal {
    left: vw;
  }
}

@media only screen and (min-width: 1600px) {
  .ui.modal {
    left: 30vw;
  }
}

@media only screen and (min-width: 1920px) {
  .ui.modal {
    left: 30vw;
  }
}

@media only screen and (max-width: 989.6px) {
  .logo-header {
    display: inline !important;
  }

  .logo {
    display: inline !important;
  }

  .f_logo {
    display: none !important;
  }
}

.logo-header {
  display: none;
}

.navbar-color {
  background-color: #0b2f63;
}

.page-inner > .row {
  margin: 15px;
}

.caret {
  margin-right: 0px !important;
}

.btn-border.btn-success,
#date_range {
  border: 0px !important;
  box-shadow: rgb(0 0 0 / 17%) 1px 2px 3px !important;
}
.button.primary {
  background-color: #1572e8 !important;
}
div.ui.dropdown:hover {
  background-color: #ddd;
}

label.error {
  float: left !important;
}

.ui.dropdown {
  position: absolute;
  margin-top: -15px;
  margin-left: -10px;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8 !important;
}
.input-label {
  margin-left: 0%;
}
@media only screen and (min-width: 768px) {
  .input-label {
    margin-left: 15%;
  }
}
/* th {
  color: white;
  background: rgb(153, 153, 153);
} */

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

hr {
  border-top: 1px solid #041f47;
}

.hiddenli {
  list-style-type: none;
  color: black;
}
.carousel-indicators > li {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.carousel-indicators > .active {
  background-color: gray;
}

.d-flex.mr-2 > .card {
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 150px;
  width: 230px;
}

.carousel-item > .row {
  padding-left: 8px;
}
.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
  cursor: pointer;
}

.step-counter.active {
  background-color: #041f47;
  color: #ffffff;
}

.step-counter.false {
  background-color: #ff2c2c;
  color: #ffffff;
}

.step-counter.completed {
  background-color: #0ec20e;
  color: #ffffff;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #e6ebf3;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}

.stepper-item:last-child::after {
  content: none;
}
.icon-setup {
  font-size: 30px;
  color: #09f600;
}

.font-setup {
  /* font-size: 14px;
    color: #46474b; */
  margin: -25px 0px 40px 35px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #21ba45;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* content: 'NO'; */
}

input:checked + .slider {
  background-color: #db2828;
}

input:focus + .slider {
  box-shadow: 0 0 1px #21ba45;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  /* content: 'OFF'; */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 10px;
  width: 100%;
}

.menu-li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-li a.active {
  background-color: #041f47;
  color: white;
  border-radius: 10px;
}

.menu-li a:hover:not(.active) {
  background-color: #041f47;
  color: white;
  border-radius: 10px;
}
.cl-blue {
  color: #1244b9 !important;
}
